html, body {
    margin: 0;
    padding: 0;
    background-color: #1F2937;

}

header{
    padding: 30px 10px ;
    margin: 0px 52px;
    border-bottom: 1px solid #2f3e53
}
h1{
    color: white;
    /*font-family: Inter;*/
    font-weight: 800;
    font-size: 40px;
}

p{
    color: #D5D4D8;
    font-weight: 400;
    font-size: 20px;
}

span{
    color: #55F991
}

button{
    background-color: #10b981;
    border: none;
    border-radius: 4px;
    padding: 9px 17px 9px 15px;
    color: white;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px
}

.pwds{
    margin: 30px auto 0px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center; 
}

.pwd {
    background-color: #273549;
    width: 211px;
    margin: 5px 10px;
    height: 39px;
}